<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SOULTI SURF</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <div class="container">
            <button class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="#header">Početna</a></li>
                    <li class="nav-item"><a class="nav-link" href="#novosti">Novosti</a></li>
                    <li class="nav-item"><a class="nav-link" href="#prodavnica">Prodavnica</a></li>
                    <li class="nav-item"><a class="nav-link" href="#registracija">Regisracija</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="header" style="background-image: url('img/cover1.jpg');" class="intro">
        <div class="overlay"></div>
            <div class="content">
                <div class="container">
                    <div class="row text-center">
                    <div class="col-lg-8 col-md-12 mx-auto">
                        <p class="italic">Dobrodošli na vinyl shop</p>
                        <h1>MADE IN YUGOSLAVIA</h1>
                        <p class="italic">Prodaja vinyl ploca, domace i strane scene, nova i stara izdanja i to sve na jednom mestu!</p>
                    </div>
                    </div>
                </div>
            </div>
    </section>

    <section id="novosti" class="text">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h1><b>NOVOSTI IZ SVETA SURFERA</b></h1>
                    <br>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="row text-center">
                <div class="col-lg-6 ">
                    <h2 style="text-align: left;">Kalifornijsko zlato</h2>
                    <p class="lead" style="text-align: left;">Desetak razloga zbog kojih Zapadna obala voli oktobar</p>
                    <br>
                    <p>Ako ste surfer bilo kog početnika, srednjeg ili naprednog kalibra, verovatno ste prilično zapeli u poslednjih nekoliko dana talasa u Južnoj Kaliforniji.
                        Dovoljno velika i šuplja, bar na nekim mestima da se naprednija posada otpusti, ali ne prevelika da bi se isključili oni koji imaju manje iskustva pod pojasevima.</p>
                    <p>Kao što je to često u jesen, posmatrano je kao mešavina oteklina iz različitih pravaca. Tokom 19. vikenda, severozapadni oluj bio je naš dominantan izvor surfanja,
                        zahvaljujući i Aljaskom zaljevu niskim i zdravim severozapadnim vetrovima u spoljnim priobalnim vodama. Nedelja je bila pomalo prelazni dan, dugi periodi prethodnika
                        iz novog jugo-jugozapadnog oteklina koji su se polako počeli puzati prema gore, dok će se ovaj južni vetar prebaciti na dominantni izvor surfanja u ponedeljak, utorak i sredu.
                    </p>
                    <p>
                        Ali zaista, vetar i vreme su se isticali gore navedeni oluje bili su zabavni, ali ne i glavni. Kao što je to često slučaj u jesen, visoki pritisak je poslednjih nekoliko
                        dana napustio Kaliforniju. To je dovelo do laganog protoka obale u jutarnjim satima za većinu područja sa nekim mestima koja se tokom čitavog dana osećaju čistim uslovima
                        sunčanim nebom i toplim plažnim vremenima. Savršeno, drugim rečima, za Surfline fotografa Jeremiah Klein-a da luta po obali SoCal-a i osvoji nešto kalifornijsko zlato.
                    </p>
                </div>
                <div class="col-lg-6 mx-auto">
                    <p><img src="img/v1.jpg" alt="" class="img-fluid"></p>
                    <p class="small" style="text-align: center;">Huntington Beach, na obali Pacifika, južno od Long Beacha</p>
                    
                    <p><img src="img/v1.1.jpg" alt="" class="img-fluid"></p>
                    <p class="small" style="text-align: center;">Centralni južni Pacifik kreće se od istoka do sjeveroistoka, 12. do 15. oktobra</p>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="row text-center">
                <div class="col-lg-6">
                    <p><img src="img/v2.jpg" alt="vest2" class="img-fluid"></p>

                </div>
                <div class="col-lg-6 mx-auto">
                    <h2 style="text-align: right;">Put modernog surferskog avanturiste</h2>
                    <p class="lead" style="text-align: right;">Kako pet profesionalnih vagabunda redefinišu istraživanje surfa.</p>
                    <br>
                    <p>U početku su surferi bili samo surferi. Tek kada je Vorld Tour bio unovčen i surf brendovi nisu počeli potpisivati sportiste na velike dolarske
                        ugovore koji su surfovali postali legitimna opcija karijere. I pre dugo, taj put karijere razvukao se u dve staze:
                        onog profesionalnog takmičara i profesionalnog freesurfera.
                    </p>
                    <p>
                        Za razliku od drugih sportova koji se oslanjaju na kvantitativnu prirodu takmičarskih rezultata da bi sportistima dodeljili vrednost, surfanje je toliko stil života
                        i popularna umetnost jer je to sport. I dok su rang-liste turneje možda relativno pouzdan barometar vrednosti surfera, oni ih imaju mnogo manje
                        uticaj na živote obožavalaca od slika koje vidimo na mreži i u štampanom obliku, ili čak i performansi standout surfera na našim lokalnim odmorima.
                    </p>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2>Vissla: Specijalna odela za surfere</h2>
                    <p class="lead" style="text-align: center;">Neophodnosti hladnih voda</p>
                    <br>
                </div>
                <div class="col-lg-12">
                    <p><img src="img/v3.jpg" alt="vest3" class="img-fluid"></p>
                    <br>
                </div>
                <div class="col-lg-12">
                    <p>Sa naprednim materijalima i karakteristikama, Vissla’s North Seas je tehnička serija hidrauličnih odela dizajnirana
                        i napravljena za najhladniju klimu za surfanje. Podloga za toplotna i šuplja vlakna punog tela Brain Fuzz izolira toplotu
                        i brzo se suši održavajući telo toplijim tokom dužeg perioda. Napravljen od tkanine obojene drogom iz mlinova odobrenih
                        od strane Bluesign-a, North Seas odlikuje mekši dres protiv haljina, rastezljiv unutrašnji dres i reciklirani vanjski dres
                        koji služi kao ekološki prihvatljiviji pristup neoprenu. AkuaA laminiranje na vodenoj osnovi daje zaptivku bez rastvarača
                        bez štetnih hemikalija, dok Pover Seam 2 fleksibilno hidroizolaciono zaptivno sredstvo na spoljnim šavovima obezbeđuje dodatnu izdržljivost i toplinu.
                    </p>
                    <br>
                    <hr>
                </div>
            </div>
        </div>
    </section>

    <div class="row text-center">
        <div class="col-12">
            <p><img src="img/cover4.1.jpg" alt="prodavnica" class="img-fluid" style="width:100%;">
        </div>
    </div>
    
    <section id="prodavnica" class="text" >
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h1><b>PRODAVNICA ODEĆE</b></h1>
                    <br>
                    <hr>  
                    <p class="lead">Predstojeći letnji asortimani surf odeće po najnižim cenama</p>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <p><img src="img/p1.jpg" alt="vest2" class="img-fluid"></p>
                    <p><b>Šorc</b><br>Cena: 39$<br><br><input type="number" class="count" value="1" style="width: 35px;"><br><br><button type="button" class="btn btn-dark btn-sm">Dodaj u korpu</button></p>
                </div>
                <div class="col-4">
                    <p><img src="img/p4.jpg" alt="vest2" class="img-fluid"></p>
                    <p><b>Košulja</b><br>Cena: 59$<br><br><input type="number" class="count" value="1" style="width: 35px;"><br><br><button type="button" class="btn btn-dark btn-sm">Dodaj u korpu</button> </p>
                </div>
                <div class="col-4">
                    <p><img src="img/p7.jpg" alt="vest2" class="img-fluid"></p>
                    <p><b>Majica</b><br>Cena: 45$<br><br><input type="number" class="count" value="1" style="width: 35px;"><br><br><button type="button" class="btn btn-dark btn-sm">Dodaj u korpu</button> </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <p><img src="img/p6.jpg" alt="vest2" class="img-fluid"></p>
                    <p><b>Košulja</b><br>Cena: 49$<br><br><input type="number" class="count" value="1" style="width: 35px;"><br><br><button type="button" class="btn btn-dark btn-sm">Dodaj u korpu</button> </p>
                </div>
                <div class="col-4">
                    <p><img src="img/p5.jpg" alt="vest2" class="img-fluid"></p>
                    <p><b>Duks</b><br>Cena: 59$<br><br><input type="number" class="count" value="1" style="width: 35px;"><br><br><button type="button" class="btn btn-dark btn-sm">Dodaj u korpu</button> </p>
                </div>
                <div class="col-4">
                    <p><img src="img/p8.jpg" alt="vest2" class="img-fluid"></p>
                    <p><b>Majica</b><br>Cena: 25$<br><br><input type="number" class="count" value="1" style="width: 35px;"><br><br><button type="button" class="btn btn-dark btn-sm">Dodaj u korpu</button> </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <p><img src="img/p3.jpg" alt="vest2" class="img-fluid"></p>
                    <p><b>Šorc</b><br>Cena: 39$<br><br><input type="number" class="count" value="1" style="width: 35px;"><br><br><button type="button" class="btn btn-dark btn-sm">Dodaj u korpu</button> </p>
                </div>
                <div class="col-4">
                    <p><img src="img/p9.jpg" alt="vest2" class="img-fluid"></p>
                    <p><b>Majica</b><br>Cena: 29$ <br><br><input type="number" class="count" value="1" style="width: 35px;"><br><br><button type="button" class="btn btn-dark btn-sm">Dodaj u korpu</button></p>
                </div>
                <div class="col-4">
                    <p><img src="img/p2.jpg" alt="vest2" class="img-fluid"></p>
                    <p><b>Šorc</b><br>Cena: 44$ <br><br><input type="number" class="count" value="1" style="width: 35px;"><br><br><button type="button" class="btn btn-dark btn-sm">Dodaj u korpu</button></p>
                </div>
            </div>
            <br>
            <hr>
        </div>
    </section>

    <div class="row text-center">
        <div class="col-12">
            <p><img src="img/cover7.1.jpg" alt="prodavnica" class="img-fluid" style="width:100%;">
        </div>
    </div>

    <section id="registracija">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h1><b>REGISTRACIJA</b></h1>
                    <br>
                    <hr>  
                    <p class="lead">Registrujte se i postanite član VIP kluba!</p>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Ime *">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Prezime *">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Lozinka *">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control"  placeholder="Potvrdi lozinku *">
                    </div>
                    <div class="form-group">
                        <div class="maxl">
                            <label class="radio inline"> 
                                <input type="radio" name="gender" checked>
                                <span>Muško </span> 
                            </label>
                            <label class="radio inline"> 
                                <input type="radio" name="gender">
                                <span>Žensko </span> 
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Vaš mail *">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Vaš kontakt broj *">
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option class="hidden"  selected disabled>Označite Vaše sigurnosno pitanje</option>
                                <option>Kog dana ste rođeni?</option>
                                <option>Vaš stari broj telefona?</option>
                                <option>Ime ljubimca?</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Vaš odgovor *">
                    </div>
                    <input type="submit" class="btn btn-dark btn-md" value="Potvrdi"/>
                </div>
            </div>
        </div>    
    </section>
    <section id="footer" style="background-color: rgb(29, 29, 29);">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <p style="color: white;">&copy;2019 Copyright Branislav Bukazić S32/17<br><br>Mail: bbukazic17@raf.rs<br>Adresa: Timočka 18<br>Kontakt broj: 062-419-294 </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>