<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SOULTI SURF</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div style="background-color:rgb(52, 58, 64)">
        <div class="container">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
                <a class="navbar-brand" href="index.html">MADE IN YUGOSLAVIA</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse hide">
                    <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" href="#">Pocetna</a></li>
                    <li class="nav-item"><a class="nav-link" href="#prodavnica">Prodavnica</a></li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="registracija.html"><span class="fas fa-user"></span> Registracija</a></li>
                    <li class="nav-item"><a class="nav-link" href="login.html"><span class="fas fa-sign-in-alt"></span> Login</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <section id="header" style="background-image: url('img/cover1.jpg');" class="intro">
        <div class="overlay"></div>
            <div class="content">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-lg-8 col-md-12 mx-auto">
                            <p class="italic">Dobrodošli na vinyl shop</p>
                            <h1>MADE IN YUGOSLAVIA</h1>
                            <p class="italic">Prodaja vinyl ploca, domace i strane scene, nova i stara izdanja i to sve na jednom mestu!</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section id="prodavnica" class="text" >
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h1><b>NA KORAK DO VAS </b></h1>
                    <br>
                    <hr>  
                    <p class="lead">Samo jednim klikom do omiljene trake!</p>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <p><img src="img/p1.jpg" alt="vest2" class="img-fluid" style="width: 500px; height: 350px;"></p>
                    <p><b>Šorc</b><br>Cena: 39$<br><br><input type="number" class="count" value="1" style="width: 35px;"><br><br><button type="button" class="btn btn-dark btn-sm">Dodaj u korpu</button></p>
                </div>
                <div class="col-4">
                    <p><img src="img/p4.jpg" alt="vest2" class="img-fluid" style="width: 500px; height: 350px;"></p>
                    <p><b>Košulja</b><br>Cena: 59$<br><br><input type="number" class="count" value="1" style="width: 35px;"><br><br><button type="button" class="btn btn-dark btn-sm">Dodaj u korpu</button> </p>
                </div>
                <div class="col-4">
                    <p><img src="img/p7.jpg" alt="vest2" class="img-fluid" style="width: 500px; height: 350px;"></p>
                    <p><b>Majica</b><br>Cena: 45$<br><br><input type="number" class="count" value="1" style="width: 35px;"><br><br><button type="button" class="btn btn-dark btn-sm">Dodaj u korpu</button> </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <p><img src="img/p6.jpg" alt="vest2" class="img-fluid" style="width: 500px; height: 350px;"></p>
                    <p><b>Košulja</b><br>Cena: 49$<br><br><input type="number" class="count" value="1" style="width: 35px;"><br><br><button type="button" class="btn btn-dark btn-sm">Dodaj u korpu</button> </p>
                </div>
                <div class="col-4">
                    <p><img src="img/p5.jpg" alt="vest2" class="img-fluid" style="width: 500px; height: 350px;"></p>
                    <p><b>Duks</b><br>Cena: 59$<br><br><input type="number" class="count" value="1" style="width: 35px;"><br><br><button type="button" class="btn btn-dark btn-sm">Dodaj u korpu</button> </p>
                </div>
                <div class="col-4">
                    <p><img src="img/p8.jpg" alt="vest2" class="img-fluid" style="width: 500px; height: 350px;"></p>
                    <p><b>Majica</b><br>Cena: 25$<br><br><input type="number" class="count" value="1" style="width: 35px;"><br><br><button type="button" class="btn btn-dark btn-sm">Dodaj u korpu</button> </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <p><img src="img/p3.jpg" alt="vest2" class="img-fluid" style="width: 500px; height: 350px;"></p>
                    <p><b>Šorc</b><br>Cena: 39$<br><br><input type="number" class="count" value="1" style="width: 35px;"><br><br><button type="button" class="btn btn-dark btn-sm">Dodaj u korpu</button> </p>
                </div>
                <div class="col-4">
                    <p><img src="img/p9.jpg" alt="vest2" class="img-fluid" style="width: 500px; height: 350px;"></p>
                    <p><b>Majica</b><br>Cena: 29$ <br><br><input type="number" class="count" value="1" style="width: 35px;"><br><br><button type="button" class="btn btn-dark btn-sm">Dodaj u korpu</button></p>
                </div>
                <div class="col-4">
                    <p><img src="img/p2.jpg" alt="vest2" class="img-fluid" style="width: 500px; height: 350px;"></p>
                    <p><b>Šorc</b><br>Cena: 44$ <br><br><input type="number" class="count" value="1" style="width: 35px;"><br><br><button type="button" class="btn btn-dark btn-sm">Dodaj u korpu</button></p>
                </div>
            </div>
            <br>
            <hr>
        </div>
    </section>

    <section id="footer" style="background-color: rgb(29, 29, 29);">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <p style="color: white;">&copy;2019 Copyright Branislav Bukazić S32/17<br><br>Mail: bbukazic17@raf.rs<br>Adresa: Timočka 18<br>Kontakt broj: 062-419-294 </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>